
bscit/softwareEngg/Agile Scrum(New).pdf
bscit/softwareEngg/Software engineering A practitioner's approach.pdf
ISTQB/SOFTWARE TESTING An ISTQB–ISEB Foundation Guide.pdf
bscit/java/Java The Complete Reference, 12th Edition.pdf
bscit/java/Java - The Complete Reference - 11 Edition.pdf
bscit/java/Java The Complete Reference, 11th Edition.epub
java/Java - The Complete Reference - 11 Edition.pdf
java/Java The Complete Reference, 11th Edition.epub
java/Java The Complete Reference, 12th Edition.pdf
softwareEngg/Software engineering A practitioner's approach.pdf
softwareEngg/Agile Scrum(New).pdf
cpp/balaguruswamy/oop with Cpp.pdf
database/Fundamentals of Database Systems.pdf
java/java certification/OCA Java.pdf
webProgramming/bootstrap/Bootstrap Responsive Web Development.pdf
digitalMarketing/single_page_format.docx
digitalMarketing/chapter_06_topics.docx
digitalMarketing/chapter_05_topics.docx
digitalMarketing/chapter_04_topics.docx
digitalMarketing/chapter_01_topics.docx
digitalMarketing/chap_06_workbook.docx
digitalMarketing/chap_05_workbook.docx
digitalMarketing/chap_04_workbook.docx
digitalMarketing/06 digital_marketing.docx
digitalMarketing/05 digital_marketing.docx
digitalMarketing/04 digital_marketing.docx
microprocessor/book Microprocessor Architecture  gaonkar.pdf
PromptEnginneering/ChatGPT Prompt Engineering for AI Communication.pdf
PromptEnginneering/~$rkbook_03.docx
PromptEnginneering/~$rkbook_03.docx
